<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文本共享</title>
    <script src="/lib/js/vue.global.js"></script>
    <script src="/lib/js/axios.min.js"></script>
    <script src="/lib/js/qs.min.js"></script>
    <script src="/lib/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/js/js.cookie.min.js"></script>
    <script src="/lib/js/clipboard.min.js"></script>
    <script src="/lib/js/vue-router.global.min.js"></script>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/paste.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">文件列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">文本共享</a>
            </li>
        </ul>
    </div>
    <router-view></router-view>
    <template id="home">
        <div id="add">
            <input class="form-control" placeholder="标题" v-model="title" ref="title">
            <textarea class="form-control" rows="10" placeholder="正文" v-model="text" ref="text"></textarea>
            <button class="btn btn-outline-primary float-end" @click="add()">发布</button>
        </div>
        <div id="list">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" v-for="paste in pastes" style="cursor:pointer" @click="(event) => event.target.tagName !== 'A' && event.target.tagName !== 'I' && $router.push('/p/' + paste.id)">
                    <div class="float-end">
                        <a class="link-primary" id="btnCopy" :data-clipboard-text="paste.text"><i class="bi bi-clipboard"></i></a>
                        <a class="link-danger" @click="$root.showConfirm(() => $root.del(paste.id))"><i class="bi bi-trash"></i></a>
                    </div>
                    <div>
                        <p class="text-primary overflow-ellipsis" style="max-width: 75%;">{{paste.title}}</p>
                        <p style="white-space: pre-wrap">{{paste.text}}</p>
                        <p class="text-muted">发布于 {{paste.time.slice(0, -3)}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </template>
    <template id="detail">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="d-flex justify-content-between flex-wrap align-items-center">
                        <a class="link-primary text-decoration-none" @click="$router.push('/p')">返回</a>
                        <div class="text-muted overflow-ellipsis" style="max-width: 50%;">{{title}}</div>
                        <div>
                            <a class="btn btn-outline-primary btn-sm" id="btnCopy" data-clipboard-target="#textarea">复制</a>
                            <a class="btn btn-outline-primary btn-sm" @click="update()">提交修改</a>
                            <a class="btn btn-outline-danger btn-sm" @click="$root.showConfirm(() => $root.del($route.params.id))">删除</a>
                        </div>
                    </div>
                </div>
                <textarea class="form-control border-0" v-model="text" ref="text" id="textarea"></textarea>
            </div>
    </template>
</div>
<div class="modal" tabindex="-1" ref="messageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{message.title}}</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="white-space: pre-wrap">{{message.text}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" ref="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">删除</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>确定要删除吗？</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" data-bs-dismiss="modal" @click="confirmDelete()">确定</button>
                <button class="btn btn-outline-primary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" ref="authModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">验证</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="password" class="form-label">请输入密码</label>
                <input type="password" class="form-control" id="password" ref="password">
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" data-bs-dismiss="modal" @click="getToken()">确定</button>
                <button class="btn btn-outline-primary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div v-show="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<script src="/js/paste.js"></script>
</body>

</html>