.breadcrumb {
  margin: 0.5rem 0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

#left {
  float: left;
}

#right {
  float: right;
}

.checkbox {
  width: 2%;
}

.filename {
  max-width: 200px;
}

#image {
  max-width: 75%;
  pointer-events: auto;
}

#text {
  max-width: 75%;
  min-height: 100%;
  pointer-events: auto;
  margin: 0 auto;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .size,
  .contentType,
  .lastModified {
    display: none;
  }

  .action {
    width: 80px;
  }

  #image {
    max-width: 100%;
  }

  #text {
    max-width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .dropdown {
    display: none;
  }

  #left,
  #right {
    float: none;
  }

  #left .btn {
    margin-bottom: 5px;
  }
}
