#add * {
  margin-bottom: 10px;
}

#list {
  clear: both;
}

.list-group-item {
  word-break: break-all;
  padding: 1rem 1rem;
}

.card-body {
  padding: 0.781rem 1rem;
}

#textarea {
  min-height: 75vh;
}
