.form-check-input:checked + .form-checked-content {
  text-decoration: line-through;
  opacity: 0.5;
}

.form-check-input-placeholder {
  border-style: dashed;
}

[contenteditable]:focus {
  outline: 0;
}

.form-check-input {
  font-size: 1.1rem;
}

.list-group-item {
  padding: 10px;
  cursor: pointer;
}

.editable {
  cursor: text;
}
